!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title="Scarfolk"
    %meta{ name: "viewport", content: "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
    %link{ href: "/assets/app.css", media: "screen", rel: "stylesheet" }
    %script{ type: 'text/javascript', src: '/assets/app.js' }
  %body
    %header
      %nav.navbar.navbar-expand-lg.navbar-light.bg-info
        %a.navbar-brand.text-white{ href: '/' } Scarfolk
        %span.h6.service-name.text-white
          Apply for Temporary Event Notice

    .main.container
      .col-md-12
        %h1 Welcome to Scarfolk Council
        %p To complete your temporary event notice application, please proceed to payment.

        %a.govuk-button{ href: @next_url } Pay now

