!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title="Scarfolk"
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
    %link{ :href => "/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "/css/main.css", :media => "screen", :rel => "stylesheet" }
  %body
    %header
      %nav.navbar.navbar-expand-lg.navbar-light.bg-info
        %a.navbar-brand.text-white{ href: '/' } Scarfolk
    .main.container
      .col-md-12
        %h1 Welcome to Scarfolk Council
        %p Almost finished

        %a.btn.btn-primary{ href: 'https://products.payments.service.gov.uk/pay/bef422917a204254bb5949052cd2dde1' } Pay now
