!!! 5
%html
  %head
    %link{ :href => "/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "/css/main.css", :media => "screen", :rel => "stylesheet" }
  %body
    %h1 Scarfolk
    %p Almost finished
    %a{ href: 'https://products.payments.service.gov.uk/pay/bef422917a204254bb5949052cd2dde1' } Pay now
