- if @payment.successful?
  .govuk-panel.govuk-panel--confirmation
    %h2.govuk-panel__title
      Payment complete
    .govuk-panel__body
      Your reference number
      %br
      %strong= @payment.govpay_reference
  %p
    %a.govuk-back-link{ href: '/'} Back to homepage
- else
  %h1 There was a problem with your payment
