!!! 5
%html
  %head
    %link{ :href => "/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "/css/main.css", :media => "screen", :rel => "stylesheet" }
  %body
    %h1 Scarfolk
    %h2 Your Temporary event notice has been successful!
