$govuk-font-family: 'Roboto', sans-serif;
$govuk-global-styles: true;
$govuk-brand-colour: #28a197;

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../../node_modules/govuk-frontend/all";

@include govuk-media-query($from: tablet) {
  .govuk-header__logo {
    width: 32%;
  }

  .govuk-header__logotype,.govuk-header__logotype-fallback-image {
      position: relative;
      top: -2px
  }

  .govuk-header__link--service-name {
    position: relative;
    top: 10px;
  }
}

h1 {
  @extend .govuk-heading-xl
}
